<section id="section{{ sectionno }}" class="mod-formulier {% if item.bg_alt %} bg-lightgrey {% elseif item.bg_darkblue %} bg-darkblue {% else %} bg-transparent {% endif %} {% if item.form_overlap %} form_overlap {% endif %}">
  <div class="container">
    <div class="row">
    	{% if item.layout == 'content' %}
	      <div class="col-lg-5">
	      	<div class="h-100 d-flex align-items-center">
	      		<div class="content">
			        {% if item.subtitel %}
			        	<span class="sub">{{ item.subtitel }}</span>
			        {% endif %}
			        {% if item.titel %}
			        	<h2 class="{% if item.font_xl %} h1 {% endif %}">{{ item.titel }}</h2>
			        {% endif %}
			        {% if item.tekst %}
			        	{{ item.tekst }}
			        {% endif %}
			        {% if item.link %}
								<a class="btn-link" target="{{ item.link.target }}" href="{{ item.link.url }}">
									{{ item.link.title }} 
								</a>
					    {% endif %}
	      		</div>
	      	</div>
	      </div>
      {% endif %}
      <div class="{% if item.layout == 'content' %} col-lg-6  offset-lg-1 {% else %} col-md-8 offset-md-2 col-lg-6 offset-lg-3 {% endif %}">
      	<div class="h-100 d-flex align-items-center">
    			<div class="card with-shadow w-100 text-black">
    				<div class="card-body body3">
      				{{ item.formulier }}
    				</div>
    			</div>
      	</div>
      </div>
    </div>
	</div>
</section>